html, body
{
    background: rgb(177,235,196);
    background: -moz-radial-gradient(center, ellipse cover, rgba(177,235,196,1) 0%, rgba(148,199,165,1) 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(177,235,196,1)), color-stop(99%,rgba(148,199,165,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(177,235,196,1) 0%,rgba(148,199,165,1) 99%);
}

.page {
    display: none;
}

em {
    color: #5E4949;
    weight: bold;
    font-style: normal;
}

.box {
    margin: 150px auto;
    width: 600px;
}

.box h1 {
    font-size: 4em;
}

.active {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: block;
    background: rgb(177,235,196);
    background: -moz-radial-gradient(center, ellipse cover, rgba(177,235,196,1) 0%, rgba(148,199,165,1) 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(177,235,196,1)), color-stop(99%,rgba(148,199,165,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(177,235,196,1) 0%,rgba(148,199,165,1) 99%);
}

#results {
    position: relative;
}

#results .copy{
    height: 100px;
}

p.copy {
    text-align: center;
    font-size: 1.2em;
}

.continue, .continue2 {
    background: #876C6D;
    border-color: #5E4949;
    margin-top: 20px;
}

.continue:hover {
    background: #5E4949;
    border-color: #876C6D;
}

.img {
    width: 100%;
}

.page ul {
    text-align: left;
    margin-top: 30px;
}

#loading img {
    width: 20em;
    margin-top: 100px;
}

.calculating {
    margin-top: 30px;
}

input {
    width: 600px !important;
}

.recommended {
    background: #E2D8A5;
}

.recommended .icon
{
    display: block;
    width: 120px;
    height: 110px;
    position: absolute;
    background: transparent url(../img/recommended.png) top left no-repeat;
    background-size: cover;
    top: 100px;
}
